.all_categories_subheader {
	display: flex;
	align-items: center;
	margin: 50px 0 50px 50px;
	gap: 40px;
}
.all_categories_subheader>h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.all_categories_card {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    
}
