.footer {
	display: flex;
	justify-content: space-around;
	padding: 50px;
	background-color: rgba(255, 255, 255, 0.749);
}
.contacts > h3 {
	font-weight: 700;
	font-size: 40px;
}

.contacts > p {
	font-weight: 600;
	font-size: 70px;
	margin-top: 50px;
}
.address p:nth-child(1) {
	
	font-weight: 700;
	font-size: 40px;
}
.address p:nth-child(2) {
	margin-top: 40px;
	font-weight: 600;
	font-size: 40px;
	text-decoration-line: underline;
}
.address p:nth-child(3) {
	margin-top: 25px;
	font-weight: 600;
	font-size: 24px;
}
.address p:nth-child(4) {
	margin-top: 15px;
	font-weight: 500;
	font-size: 18px;
}
/* ////////////////////social_networks_icons */

.social_network_icons {
	margin-top: 25px;
	font-size: 28px;
	display: flex;
	align-items: center;
	gap: 30px;
}
.social_network_icons > a {
	display: block;
	gap: 5px;
	text-decoration: none;
	color: black;
	transition: all 0.5s ease;
}
.social_network_icons > a:hover {
	transform: scale(1.1);
	color: #339933;
}
