

.all_categ_pict {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.all_categ_pict img {
	width: 317px;
	height: 345px;
	object-fit: cover;
    
}
.all_categ_pict p {
	font-size: 18px;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 30px;
}
